RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.homeupgraders\.ca$ [NC]
RewriteRule ^(.*)$ https://homeupgraders.ca/$1 [L,R=301]

RedirectMatch 301 ^/drywall-contractor-ottawa/?$ https://homeupgraders.ca/services/drywall-contractor-ottawa/
RedirectMatch 301 ^/ottawa-paint-contractor/?$ https://homeupgraders.ca/services/ottawa-house-painters/

ErrorDocument 404 /404.html
